/ Navigation and subheader links
= render :partial => "shared/navigation"

/ Page content
.sommelier-content
    .sommelier-pic
        = image_tag("anani.jpg", :style => "width: 100px;")
    .sommelier-info
        %h1 Anani Lawson
        %h2 New York City
    .sommelier-questions
        %h3 What inspired you to become a sommelier?
        %p
            Evelest, omnis enis a dolorum errovitas que volor am qui accabor a invenihitas quis et omnis ditatur, estruptibus ipite volentur

        %h3 What is your favorite fact about wine?
        %p
            Is volorpor ra corum dolorem que plitas sincilla pla vel iume pe dolupta ipsandaeriti de dolorion ressequati nis delignim que vide.
            
        %h3 What was your favorite bottle of all time?
        %p
            To qui que volut omnis veliscil inti repedi utat adit, aut labo

        %h3 What is exciting about Tipsi?
        %p
            Sunt verunt eos molenis ent exeratur a dolorum etur, seque eseque nimus idundaest, utecaec aborro inimaio nsenim am, et is asitaep udantis
    .social-media
        %h3 Follow Anani on:
        = image_tag("facebook.png", :class => "social-button")
        = image_tag("twitter.png", :class => "social-button")
