/ Navigation and subheader links
= render :partial => "shared/navigation"

/ Page content
.page-content-narrow
    .sommelier-pic
        = image_tag("anani.jpg", :style => "width: 100px;")
    .sommelier-info
        %h1 Anani Lawson
        %h2 New York City
    .sommelier-questions
        %h3 What’s the most common misconception about wine?
        %p Older is better! Not true…

        %h3 What do you find interesting about Tipsi?
        %p Tipsi is a tool that will help the consumer find and drink better wines for the money; the consumer will save more while they get educated.
            
        %h3 Do you have a favorite vineyard or winemaker, and if so, why?
        %p Sonoma County’s AVAs with their diverse micro-climates produces a wide range of wines that I like. It has it all! Pinot Noir, Chardonnay, Sauvignon Blanc, Cabernet, Zinfandel, Syrah.. all thrives in the different appropriate appellation.

        %h3 What’s the best bottle of wine on a hot summer’s day? Cold winter’s night?
        %p A Bennet Valley Sauvignon Blanc and a  Barbera D’Alba, respectively. Although I might have a completely different answer tomorrow.
        
        %h3 Do you see any wine region that is overlooked? Which one and why?
        %p The wines of Greece could be more visible; they don’t appear to have a classification that would be a good guide for the consumer.
        
        %h3 What’s a rare wine or vintage that one should try before they die?
        %p 1947 Chateau Cheval Blanc, Saint-Emilion
        
        %h3 Do you visit wine regions often?
        %p I go France once a year, and I love California wine country...
        
        %h3 Which country’s cuisine has the best food and wine combination? (besides France!)
        %p A difficult question indeed; I’m stuck between Italy and Spain...
        
        %h3 Did you have a mentor? If so, who and how did your relationship develop?
        %p When I was recruited to The French Laundry the wine director at the time was Bobby Stuckey, I chose him as my mentor. I emulated a lot of his mannerism and learned a lot about wine and wine service.
        
        %h3 What’s a fun fact about you and wine?
        %p While I like both white and red, I prefer white in general to red wines....

    .social-media
        %h3 Follow Anani on:
        = image_tag("facebook.png", :class => "social-button")
        = image_tag("twitter.png", :class => "social-button")
