/ Navigation and subheader links
= render :partial => "shared/navigation"

/ Page content
.page-content-narrow
    .sommelier-pic
        = image_tag("anani.jpg", :style => "width: 100px;")
    .sommelier-info
        %h1 Anani Lawson
        %h2 New York City
    .sommelier-questions
        %h3 What’s the most common misconception about wine?
        %p Older is better! Not true…

        %h3 What do you find interesting about Tipsi?
        %p Tipsi is a tool that will help the consumer find and drink better wines for the money; the consumer will save more while they get educated.
            
        %h3 Do you have a favorite vineyard or winemaker, and if so, why?
        %p Sonoma County’s AVAs with their diverse micro-climates produces a wide range of wines that I like. It has it all! Pinot Noir, Chardonnay, Sauvignon Blanc, Cabernet, Zinfandel, Syrah.. all thrives in the different appropriate appellation.

        %h3 What’s the best bottle of wine on a hot summer’s day? Cold winter’s night?
        %p A Bennet Valley Sauvignon Blanc and a  Barbera D’Alba, respectively. Although I might have a completely different answer tomorrow.
        
        %h3 Do you see any wine region that is overlooked? Which one and why?
        %p The wines of Greece could be more visible; they don’t appear to have a classification that would be a good guide for the consumer.

    .social-media
        %h3 Follow Anani on:
        = image_tag("facebook.png", :class => "social-button")
        = image_tag("twitter.png", :class => "social-button")
