/ Navigation and subheader links
= render :partial => "shared/navigation"

/ Page content
.page-content-narrow
    .sommelier-pic
        = image_tag("christopher-hoel.png")
    .sommelier-info
        %h1 Christopher Hoel
        %h2 Yountville, CA
    .sommelier-questions
        %h3 How did you first get introduced and become excited about wine? 
        %p I started working at Bellerive Country Club in St. Louis, MO as a server and came across several wines that didn’t taste like what my mom used to drink, which was Paul Masson with a plastic cap.

        %h3 Did you have a mentor? If so, who and how did your relationship develop? 
        %p After realizing that I basically knew nothing about wine I decided to go work for/with one of the only working sommeliers in the city of St. Louis, Bob Kabel. Every night he would pull a bottle of wine, and we would sit down and break down the wine into all of its elements. He would describe the terrain, vinification techniques, élevage, and all aspects of the wine and why they made it taste the way they did. By far the single most important figure that has influenced my journey in wine today. 
            
        %h3 Where do you work as a sommelier? Where have you worked in the past? 
        %p I currently work as a sommelier at The French Laundry in Yountville, CA. I spent most of my career in St. Louis, MO working at Monarch, Truffles, Starlight Roof at The Chase, and Bellerive Country Club to name a few.

        %h3 What do you like most about recommending wine to your guests or clients? What do you like least? 
        %p I enjoy educating guests on new wines and regions that they are currently unaware of. Getting to be a part of that first new wine outside of their comfort zone that just might shape their wine preferences for years to come. The least enjoyable is aspect is watching some get in the way of their own experience by ordering a wine that clearly doesn’t go with their food simply because they have had it before.
        
        %h3 What’s your personal favorite pairing of food and wine? 
        %p Barrel fermented Champagne and salty, crispy French fries! Preferably the French Fries served at Bouchon Bistro.
        
        %h3 Describe the best meal you have ever had:
        %p The best meal that I have ever had, I had recently dining at The French Laundry for my birthday. It was the first time (since as long as I can remember) that I concentrated more on the enjoyment of the food than the enjoyment of the wine. Bear in mind that the wines were monumental and paired perfectly. 
        
        %h3 What’s the best bottle of wine on a hot summer’s day? Cold winter’s night? 
        %p On a hot summers day, I reach for rosé and, the one that I love drinking the most is Domaine Ott, Château de Selle from the Cotes de Provence. The younger the better. On a cold winter’s night, I like Barolo with some significant age like something in the 20-30 year old range from a traditional producer like Borgogno. 
        
        %h3 What’s your favorite fun fact about wine? 
        %p I love that wine will actually (on some level) make itself. The yeast forms on the outside while the sugars remain safe and protected on the inside. Grab some ripe and ready grapes, crush and wait!
        
        %h3 What wines and varietals are all the buzz right now? What’s your wine prediction for 2012? 
        %p Everyone seems to be running towards low alcohol, high acid, food friendly wines that are manipulated less and have a sense of place. While I feel these wines certainly have there place, I feel it’s important to realize “everything in moderation,” meaning you alienate consumers on both sides of the spectrum (oak, acid, alcohol, etc). My predictions for 2012 would be seeing more organic and sustainably-made wines. I feel there is a change in people’s consciousness toward living more green (carbon footprint), organic and a healthy way of life in general. 
        
        %h3 What’s the most common misconception about wine? 
        %p I believe that the most common misconception about wine is that more expensive wine is going to taste better than less expensive wine. The price tag on a wine rarely correlates to the level quality of the product and more often reflects the factors of production (i.e. fixed costs, variable costs, etc), current demand for the product, and the overall supply of the product. 
        
        %h3 What do you find interesting about Tipsi? 
        %p I think one of the most interesting features of Tipsi is its ability to remember past selections that were enjoyed offering alternatives from different wine lists as well as giving a sommelier a clearer picture of that person's palate in which to make recommendations.
        
        %h3 Do you feel that Tipsi will replace the role of a sommelier in a restaurant setting all together? 
        %p While I see and welcome the merits of what Tipsi will offer guests and consumers alike, I believe that ultimately the interaction between a sommelier and a guest is irreplaceable and ultimately invaluable in the total experience of a meal.
        
        
    .social-media
        %h3 Follow Christopher on:
        = link_to image_tag( "facebook.png", :class => "social-button", :target => "_blank"), "http://www.facebook.com/christopher.hoel"
        = link_to image_tag( "twitter.png", :class => "social-button", :target => "_blank"), "http://www.twitter.com/christopherhoel"