/ Navigation and subheader links
= render :partial => "shared/navigation"

/ Page content
.page-content-narrow
    .sommelier-pic
        = image_tag("erik-johnson.png")
    .sommelier-info
        %h1 Erik Johnson
        %h2 Yountville, CA
    .sommelier-questions
        %h3 How did you first get introduced and become excited about wine?
        %p I think I was about 19 at a friend's house when her parents were out of town. Her father was well versed in wine and had quite the cellar/collection. Being underage, of course I never had the opportunity to try wine (nor did I have an interest to), but this night we “borrowed” a bottle which was 1997 Cardinale Proprietary Red, and it was unlike anything I had ever smelled or tasted, ever. The aromas were so expressive, and the taste so smooth and velvety to me at the time, it made me realize how exciting wine could be and how much was out there to learn.

        %h3 What made you want to originally become a sommelier?
        %p It was kind of by accident. I never set out to be a “sommelier,” it just kind of happened. It more was I wanted to just understand more about something I would never get tired of learning about, or something that I would never fully understand. It occurred to me very early on that the more I studied and thought I knew, the more I realized I did not know, and that was very motivating.

        %h3 Did you have a mentor? If so, who and how did your relationship develop?
        %p I had two early on. Mason Malesevich and Frank Giannotti from my home town in Phoenix, Arizona really pushed me to believe in myself and take a leap into this world of wine when everyone else was kind of looking at me puzzled since I was so young.  They really instilled in me the world of fine dining and how it could lead to a fulfilling and respectable career.  Especially how wine can take a dinner and turn it into this beautiful dining experience, not just a meal. Also, Dennis Kelly of the French Laundry offered me the chance of a life time. He believed in me, taught me, and allowed me an opportunity to continue advancing on the path of becoming a wine service professional in the Napa Valley.

        %h3 Where do you work as a sommelier? Where have you worked in the past?
        %p Currently I am at Bouchon Bistro in Yountville, Ca. Previously I was at The French Laundry, and prior to that I was in Chandler, Arizona at Kai Restaurant.
        
        %h3 What’s your favorite fun fact about wine?
        %p A glass a day keeps the Doc away! Red wine, it’s good for the heart...
        
        %h3 What’s the most common misconception about wine?
        %p That all Riesling is sweet! I love opening the guests eye’s to the versatility of this amazing varietal.
        
        %h3 What’s your personal favorite pairing of food and wine?
        %p Sancerre and Oysters, just something about the saltiness and elevated acidity I love. Although Snickers and 20 year Tawny is pretty delicious.
        
        %h3 What’s your favorite pairing recommendation off of your restaurant’s menu?
        %p Our menu changes seasonally, but most recently my favorite was the winter menu with seared-day boat scallops, apple pain perdu, confit of pumpkin, caramelized salsify and apple & cider emulsion. With a “Sidre Doux Tendre” off-dry sparkling apple cider that Eric Bordelet produced in Normandy. Its off dry quality relationship with the pumpkin, the reiteration of apples and the slight sparkling to rinse all the richness was definitely a pairing that stuck out recently.

        %h3 What’s the strength of your wine list or program?
        %p A balance of recognizable and obscure, esoteric wine producers and regions from both France and the United States.
        
        %h3 What’s the best bottle of wine on a hot summer’s day? Cold winter’s night?
        %p On a hot day I love an ice cold Sancerre or a bottle of rose. Winter always reminds me of Italian wine. A nice Barolo or Barberesco – delicious! Perfect with heartier stews, soups, and especially winter (white!) truffles.
        
        %h3 Which country’s cuisine has the best food and wine combination?
        %p In my opinion I enjoy the food and wine relationship of Italy and France most often. Tie game.
        
        %h3 What’s a rare wine or vintage that one should try before they die?
        %p Mature 1st or 2nd growth Bordeaux. The flavors, elegance, complexity is like none other in those blockbuster vintages.
        
        %h3 Do you have a favorite vineyard / winemaker and if so why?
        %p Dunn Vineyards. Although it is rare to find anyone that has the patience to really leave their hands off this wine until it is ready, these Cabernets with some serious age continue to impress me. 
        
        %h3 What wines and / or varietals are all the buzz right now? What’s your wine prediction for 2012?
        %p 2007 Napa Cab, seems as though everyone coming in is asking about it. Also, elevated interest in Malbec seems to be on the rise as well. 
        
        %h3 What do you find interesting about Tipsi?
        %p That it is allowing an otherwise intimidating experience for some guests to be approachable and fun. Giving the consumer the confidence to find a wine that will enhance their enjoyment with their dining experience is a goal we all share.
        