/ Navigation and subheader links
= render :partial => "shared/navigation"

/ Page content
.page-content-narrow
	.sommelier-pic
		= image_tag("jesse-rodriguez.png")
	.sommelier-info
		%h1 Jesse Rodriguez
		%h2 San Diego, CA
	.sommelier-questions
		%h3 What made you want to originally become a sommelier?
		%p 
			I looked at the sommelier position as a very dialed key role in restaurants. They were the Maitre d’, the captain, the back waiter, and they were the people that could help assist in making a dining event an experience. The sommeliers I learned under had an intimate understanding about wine and food. I loved that it was specialized and at the same time had so many different dimensions.
		
		%h3 Did you have a mentor?
		%p I have been fortunate enough to have many mentors with who helped me out in the industry. In Arizona, It was Tom Kaufman from Rancho Pinot Grill and Greg Tresner MS, from the Phoenician. At The French Laundry, it was Paul Roberts MS and Anani Lawson who showed me who to make guests feel like gold. He is a proficient facilitator in executing quality service. 
		
		%h3 Where do you work as a sommelier? Where have you worked in the past?
		%p I’m the Wine Director at Addison and The Grand Del Mar in San Diego, CA. My former positions have been at The French Laundry where I was the Head Sommelier and The Phoenician Resort where I was a waiter/cellar assistant.
		
		%h3 What’s your personal favorite pairing of food and wine?
		%p White Burgundy and truffles either with eggs, pasta or risotto. This is a crazy good pairing!

		%h3 What’s your favorite pairing recommendation off of your restaurant’s menu?
		%p Hamachi, cucumber and caviar with our house blend champagne from Vilmart and Cie.
		
		%h3 Describe the best meal you have ever had:
		%p It goes like this, with three simple courses: Vietnamese shrimp cooked in a Cajun sauce served with Robert Weil, Riesling, Trocken 1997. Chicken breast served with vin jaune sauce and shitake mushrooms served with Ramonet Bienevenue Bâtard Montrachet. La Tâche 2004 and Sottocenere cheese to finish the meal. I cooked this at my house for some really good friends from college that I grew up with. That was an incredible evening
		
		%h3 Do you collect wine? If so, what would we find in your wine rack?
		%p Yes, but not much more then champagne. Krug 1990, that is it!

		%h3 What’s the best bottle of wine on a hot summer’s day? Cold winter’s night?
		%p When it’s hot, Kabinett Riesling from Dr. Loosen, Graacher Himmelreich, Kabinett current vintage. That stuff is super yummy good! On a cold night, I like some Spanish Priorat.
		
		%h3 What do you like most about recommending wine to your guests or clients? What do you like least?
		%p The thing I like the most is when the guests are open but they lay out the perimeters clearly so there is no guessing if what you select will be adequate. If I had to pick one thing I liked least about recommending wine, it would be if a guest asked “how many points is this wine?” and expect me to rattle off Parker Scores as if it validates the wine.

		%h3 Do you visit wine regions often? If so, what are your favorite regions and why?
		%p I do visit many different wine regions often. I have been fortunate and have been to many great areas from Burgundy, Champagne, Rhône Valley, Jura, Savoie, Spain, Switzerland, Germany, Austria, Argentina, Hungary and Scotland (I know it’s not wine but they do make some good whisky there!). I do not really have a favorite, as there are so many great parts to every region. I suppose I let my historian roots assess each region for what it is. For that reason I love and appreciate every region of the world that I have visited to this day (and I pray that the streak continues), the same no more and no less then the others I have visited prior to that.
		
		%h3 What’s the strength of your wine list or program?
		%p Burgundy, both white and red, Champagne, Germany, Austria, Spain, Italy and California.
		
		%h3 Do you see any wine region that is overlooked? Which one and why?
		%p Greece and Portuguese still wines. Probably they are overlooked as there are so many other selections that we can offer in it’s place. Not personal at all. We are a lover of all things wine, spirit and beer related!

		%h3 What wines from the southern hemisphere do you find intriguing? 
		%p The aromatic Torrentes from Argentina. Beautiful nose and great with fish courses served crudo style.
		
		%h3 What are some great wines, vineyards, or labels that I can find at most local wine shops?
		%p Bonafide champagne from small producers is a must. White wines from Germany and Austria are also a must. In addition, wines from Burgundy either Meursault, or Puligny-Montrachet for whites. For reds, Chambolle-Musigny goes well with a lot of different cuisines. 
		
		%h3 What’s a rare wine or vintage that one should try before they die?
		%p Cros Parantoux from Henri Jayer; any vintage that they can get their hand on!

		%h3 What’s the most common misconception about wine?
		%p That it is for elites; this is so not true as it should be enjoyed by all. In the end it is a grocery just can be expensive from time to time.