/ Navigation and subheader links
= render :partial => "shared/navigation"

/ Page content
.page-content-narrow
    .sommelier-pic
        = image_tag("will-costello.png", :style => "width: 100px;")
    .sommelier-info
        %h1 Will Costello
        %h2 San Diego, CA
    .sommelier-questions
        
        %h3 Where do you work as a sommelier? Where have you worked in the past? 
        %p
            I am currently the Maitre D’ of Addison Restaurant. We are one of the nation's few 5 Star, 5 Diamond, Relais & Chateaux Grand Chef and Wine Spectator Grand Award winning restaurants. I oversee all of the sommeliers that work our floor and love to sell wine and pour it myself. Essentially, the Maitre D is a Manager with a wine key.
            
        %h3 Did you have a mentor?
        %p
            Jesse Rodriguez is my Mentor. I opened Addison Restaurant with him and have had the chance to follow through the court of Master Sommeliers with him. We both sit for the Master Exam in the next couple of months. I wouldn’t be where I am without him and his constant support.

        %h3 What do you like most about recommending wine to your guests or clients? What do you like least? 
        %p
            I love to try to wrap my head around the terms that our guests use to describe their preferences. Sweet to one guest actually means residual sugar, where sweet to another guest means fruit forward. Having a great discussion about what they are trying to describe helps make sure we are able to meet in the middle. This is also one of my least favorite aspects, simply because we all use different vernacular to describe the same wine experience.

        %h3 What’s your personal favorite pairing of food and wine? 
        %p
            There is nothing like duck breast with a thin skinned grape varietal. Whether it is Burgundian Pinot Noir, Grenache from the Rhone in France or the lesser known Frappato and Nero d’Avola of Sicily, Thin skin grapes make this protein sing. One particular product I love is Agricola Cos Cerrasuola di Vittoria aged in Amphorae. Old world wine making in traditional style at its best.

        %h3   Do you visit wine regions often? If so, what are your favorite regions and why? 
        %p
            My favorite wine region in the world is Mendoza and just North to Cafayate in Argentina. The people in Mendoza are so cultured that it feels like a trip to Europe without leaving South America. There are many different styles of wine made in this burgeoning region, and knowledgeable sommeliers can find some amazing gems. I have visited Bordeaux and of course many of the wine making regions all along California, Oregon, Washington and British Columbia. I try to make it to some region outside of Southern California at least once a year.
            
        %h3 What’s the best bottle of wine on a hot summer’s day? Cold winter’s night? 
        %p
            Hot summer’s day wine is Riesling Kabinett, no more than two years old, but on a cold night in winter, I want to drink California Cabernet. Howell Mountain to be specific.
        
        %h3 What do you like about living near a producer of wine? 
        %p
            Many of the wine products in Southern California are like teenagers. They tend to be experimenting with alcohol, haven’t quite grown into their own yet, and are more often than not a bit awkward amongst the more cultured. This isn’t to say that they will not grow into fantastic wines, but they need a few years of experimentation (like we all did in college) to come into their own. 

        %h3  What's the best meal you have ever had?
        %p
            My favorite meal of all time, save for a late winter/early spring dinner at Addison under Chef William Bradley, was at the hand of Chef Eric Ripert at Le Bernardin in New York. I spent four hours and more than a dozen courses seeing why he is touted as the premier seafood-focused chef in the world. Top all of the food off with some insane tastes of a Vertical of Chateau Simone from Palette and some wonderful vintage cocktails to start off with, and you can piece together why it was a stellar night.
                
        %h3 Which country’s cuisine has the best food and wine combination? 
        %p
            The best food and wine combinations come from Italy. There is a reason that there are over 1000 indigenous grape varietals which can only be named by referencing the small village in which they have been grown for centuries. You will get no closer than picking a turnip from the garden and drinking it with a clone of some trebbiano or friulano which was named after a farmer who tended that garden 150 years ago. Historic.
            
        %h3 What are some great wines/vineyards/labels that I can find at most local wine shops? Any that I should avoid?
        %p
            While it is a mega-label, I truly enjoy the Reserve wines from Yellow Tail. I think the quality to price ratio for these wines is stellar. Avoid any wine which has been around for 20 years, the quality hasn’t gone up but the price has skyrocketed. Pinot Grigio from a certain producer comes to mind!!!
            
        %h3     What wines and varietals are all the buzz right now? What’s your wine prediction for 2012? 
        %p
            I think in 2012 Torrentes from Argentina will make a bigger buzz than it has right now, and I am extremely inspired by the wines coming out of Dao in Portugal. They are the next big thing I think.  
    
        %h3 What’s the most common misconception about wine? 
        %p
            You have to know something about it to drink it! This is not true, and often delivers a finer experience because you are always experimenting with new wines. If you don’t know a wine, you will never get bored because there is an endless stream of possible wines out there to try.
        
        %h3 What do you find interesting about Tipsi? 
        %p
            It not only records the wines I have tasted and enjoyed, but also recommends wines that fit my tastes but perhaps take me just outside of my comfort zone.