.subheader
    %a.subheader-link{:href => "/philosophy" } Philosophy
    %a.subheader-link{:href => "/vision" } Vision
    %a.subheader-link{:href => "/sommeliers", :style => "border: none;" } Meet our sommeliers