/ Navigation and subheader links
= render :partial => "shared/navigation"

/ Page content
.page-content.taste
	= render :partial => "shared/taste_links"
	/ .wine-image
	/ 	- if @color == "red"
	/ 		= image_tag("red-wine.png", :style => "width: 220px;")
	/ 	- else
	/ 		= image_tag("white-wine.png")
	.question-container
		%h1.taste Body: weight and texture of the wine
		%p.light Sometimes described as "mouth feel", body describes how thick or thin the wine feels in your mouth.
		.question-content
			%h1 Full or soft bodied?
			.button-container
				%a.button{ :href => "#{@next_url_1}" } Full
				%a.button{ :href => "#{@next_url_2}" } Soft