/ Navigation and subheader links
= render :partial => "shared/navigation"

/ Page content
.page-content.taste
	= render :partial => "shared/taste_links"
	/ .wine-image
	/ 	- if @color == "red"
	/ 		= image_tag("red-wine.png", :style => "width: 220px;")
	/ 	- else
	/ 		= image_tag("white-wine.png")
	.question-container
		%h1.taste Dry/Crisp: perception of the wine that lingers after swallowing
		%p.light 
			Dry wines lack a perception of sweetness, and crisp wines 
			leave a fresh, clean impression on the palate.
		.question-content
			%h1 Are you in the mood for a dry or crisp wine?
			.button-container
				%a.button{ :href => "#{@next_url_1}" } Yes
				%a.button{ :href => "#{@next_url_2}" } No