%ul.sommelier-list
    %li
        %a{ :href => "/sommeliers/anani-lawson"} Anani Lawson
    %li
        %a{ :href => "/sommeliers/jesse-rodriguez"} Jesse Rodriguez
    %li
        %a{ :href => "/sommeliers/christopher-hoel"} Christopher Hoel
    %li
        %a{ :href => "/sommeliers/erik-johnson"} Erik Johnson