%ul.sommelier-list
    %li
        %a{ :href => "/sommeliers/anani-lawson"} Anani Lawson
    %li
        %a{ :href => "/sommeliers/will-costello"} Will Costello
    %li
        %a{ :href => "/sommeliers/christopher-hoel"} Christopher Hoel
