%ul.sommelier-list
    %li
        %a{ :href => "/sommeliers/anani-lawson"} Anani Lawson
    %li
        %a{ :href => "/sommeliers/jesse-rodriguez"} Jesse Rodriguez
    %li
        %a{ :href => "/sommeliers/michael-scaffidi"} Michael Scaffidi
    %li
        %a{ :href => "/sommeliers/desmond-echaranni"} Desmond Echaranni
    %li
        %a{ :href => "/sommeliers/yoon-ha"} Yoon Ha
    %li
        %a{ :href => "/sommeliers/erik-johnson"} Erik Johnson