/ Navigation and subheader links
= render :partial => "shared/navigation"

/ Page content
.page-content-narrow
    %h2.tipsi-font What is Tipsi?
    %p.medium
        Tipsi is a mobile app that functions as your personal sommelier 
        when ordering wine.
    
    %h2.tipsi-font Where can I use Tipsi?
    %p.medium
        Using location-based restaurant data, the app provides user-specific
        wine and pairing recommendations at any restaurant.  Don't see your
        favorite restaurant's list on Tipsi yet?  You can easily upload a pic
        while sitting at your table, and the wine list will instantly be added
        to the database to be matched with your saved tastes.
    
    %h2.tipsi-font How does Tipsi pick the perfect wine every time?
    %p.medium
        Tipsi's core technology is developed in conjunction with some of the 
        world's most renowned sommeliers to provide a unique and revolutionary 
        personalized recommendation program.  Depending on where you are, Tipsi
        can suggest wines by taste or by optimal matching with food pairings.
        
    %h2 What if my tastes change?
    %p.medium
        The more the app is used, the more personal and specific your 
        recommendations become.  Whether used out shopping or for wines on a 
        restaurant list, Tipsi provides choices that suit your ever-evolving 
        taste.