/ Navigation and subheader links
= render :partial => "shared/navigation"

/ Page content
.page-content-narrow
    %h2.tipsi-font What is Tipsi?
    %p.medium
        Tipsi is a mobile app that functions as your personal sommelier 
        when ordering wine.
    
    %h2.tipsi-font Where can I use Tipsi?
    %p.medium
        Using location-based restaurant data, the app provides user-specific 
        wine and pairing recommendations at any restaurant. Don't see your 
        favorite restaurant's list on Tipsi yet? You can easily upload a 
        camera shot or pdf, and the wine list will be added to the database to 
        be matched with your saved tastes.
    
    %h2.tipsi-font How does Tipsi pick the perfect wine?
    %p.medium
        Tipsi's core technology is developed in conjunction with some of the 
        world's most renowned sommeliers to provide a unique and revolutionary 
        personalized recommendation program.  Depending on where you are, Tipsi
        can suggest wines by taste or by optimal matching with food pairings.
        
    %h2 Find new great wines?
    %p.medium
        Edit your digital cellar, and your personal taste profile will evolve as 
        well. Developing the confidence to expand your palate outside of your 
        traditional comfort zone is the key goal of Tipsi. 
        