/ Navigation links
= render :partial => "shared/navigation"

/ Page content
.page-content-wide
	%h1.app Tour the app
	%h4.app ...coming in May
	.callout-div-left
		#callout-1
			.callout-text#one
				%h4 Pick a Pairing
				%p Get the perfect wine every time, tailored to your meal choice and personal taste.
	= image_tag( "app-shot-restaurants.png", :style => "width: 315px; display: inline;", :id => "app-image" )    
	.callout-div-right
		#callout-2
			.callout-text-right#two
				%h4 Personalized Recommendations
				%p Selected by analyzing your previous choices and preferences.
		#callout-3
			.callout-text-right
				%h4 View your Cellar
				%p Add wines to your cellar to always remember your favorites!
