/ Navigation and subheader links
= render :partial => "shared/navigation"

/ Page content
.page-content-narrow
    %h1 Philosophy
    %p
        Finding a wine at dinner should be fun and easy, but it’s often not.  If you are like us, you know the grapes you like, but not the differences between processes, regions and vintages that truly define a wine’s taste.
    %p
        Developed in partnership with the world’s top sommeliers, Tipsi enables educated selections based on historical taste preferences, meal pairing and wine styles.  
        
    %p We wanted to make smarter decisions; we built Tipsi.  Drink Smart.  Get Tipsi.