/ Navigation and subheader links
= render :partial => "shared/navigation"

/ Page content
.page-content-narrow
    %h1 Philosophy
    %p
        The team from Tipsi's philosophy is to educate and empower the casual
        wine drinker.  Technology can now provide insight from and access to 
        world renowned sommeliers.
    %p
        Wine no longer has to be the purview of professionals, collectors, 
        and snobs.  Let's bring education, interest, and comfort to
        everyone, especially the casual consumer.