/ Navigation and subheader links
= render :partial => "shared/navigation"
= render :partial => "shared/about_links"

/ Page content
.page-content
    %h1 Meet our sommeliers
    %p
        Tipsi's sommelier advisors are some of the finest wine experts in the
        world.  Their love of their craft and passion for educating consumers
        has been expanded through the Tipsi platform.  Now consumers can 
        interact with, follow, and learn from the best.
    %p
        Whether at your local steak house or a Michelin restaurant, Tipsi's
        technology gives you personal recommendations as if our experts were 
        right there with you.
    %p Anani Lawson        
    %p Jesse Rodriguez
    %p Michael Scaffidi
    %p Desmond Echaranni
    %p Yoon Ha
    %p Erik Johnson
