/ Navigation and subheader links
= render :partial => "shared/navigation"

/ Page content
.page-content.taste
	= render :partial => "shared/taste_links"
	.question-container
		%h1.taste Taste Analysis
		.clear
		%p.light Tipsi recommends personalized wines based on your preferences.  If dining out, the selections will be tailored for your restaurant from Tipsi's menu database.
		.question-content
			%h1 Right now, I'm in the mood for...
			.button-container
				%a.button{ :href => "/taste/red" } Red
				%a.button{ :href => "/taste/white" } White