/ Navigation and subheader links
= render :partial => "shared/navigation"
= render :partial => "shared/about_links"

/ Page content
.page-content
    %h1 Vision
    %p
        Otas eosam que sanime omni corum la nis esse coria perferatur, qui 
        ommolentia volumquibus, eribus exerchil endi odi doluptat pa venimo 
        officia verum que od quia autetusam, volupta tatur, cum quaestis et 
        ut officia aut is am que min reptaquia corestin natin pernat.
    %p
        Evelest, omnis enis a dolorum errovitas que volor am qui accabor a 
        invenihitas quis et omnis ditatur, estruptibus ipite volentur? To 
        qui que volut omnis veliscil inti repedi utat adit, aut labo. Xero 
        te di is doloribus, sus, soluptas sim reptasp ellaborem fuga. Is 
        volorpor ra corum dolorem que plitas sincilla pla vel iume pe dolupta 
        ipsandaeriti de dolorion ressequati nis delignim que vide consequi 
        dolut et quis et aut lam evenitiam, voluptat.
        
    %p
        Bea voloressinis se plandio. Et vellaborem. Sunt verunt eos molenis 
        ent exeratur a dolorum etur, seque eseque nimus idundaest, utecaec 
        aborro inimaio nsenim am, et is asitaep udantis