/ Navigation and subheader links
= render :partial => "shared/navigation"

/ Page content
.page-content-narrow
    %h1 Vision
    %p
        Tipsi is a cutting edge application that delivers personalized and
        localized wine pairing recommendations, but we aspire to do much
        more.  
    %p
        In the coming weeks, we will release additional iOS, Droid,
        and website enhancements, including:
    %ul
        %li
            Social functionality: View your friends' wine cellars on the 
            app.  Also learn and share what and where your friends are 
            drinking wine on Facebook and Twitter.
        %li     
            Merchant inventory locator: Find where to buy the wine you recently enjoyed, both locally and nationally.  
        %li Membership privileges: Get exclusive local and online discounts as a preferred wine buyer. 
        %li Sommelier notes: Learn from Tipsi's sommeliers as they opine and engage directly with users.
    %p.right ...and much much more!