/ Navigation and subheader links
= render :partial => "shared/navigation"

/ Page content
.page-content.taste
    = render :partial => "shared/taste_links"
    %h1.taste And your personal pairings are...